body {
    background-color: darkgray;
}

.container {
    display: inline-block;
    padding: 2.5%;
}

.center {
    text-align: center;
    justify-content: center;
}

.body_content {
    z-index: 2;
    position: absolute;
    top:0%;
    left:0%;
}